/* Navbars-1 */

 div.sticky1 {
      position: static;
      top: 0;
      padding: 50px;
      font-size: 20px;
      background-color: rgb(255, 255, 255);
  }

 div.sticky2 {
      position: sticky;
      top: 0;
      font-size: 20px;
      background-color: rgb(255, 255, 255);
      padding: 15px;
 }

 /*icons*/
.insta:hover img{
  opacity: 0.5;
}

.insta:hover p{
  opacity: 1;
}

.insta p{
  position: absolute;
  top: 3%;
  left: 86.2%;
  transform: translate(-50%,-50%);
  opacity: 0;
}

.facebook:hover img{
  opacity: 0.5;
}

.facebook:hover p{
  opacity: 1;
}

.facebook p{
  position: absolute;
  top: 3%;
  left: 90.8%;
  transform: translate(-50%,-50%);
  opacity: 0;
}

.youtube:hover img{
  opacity: 0.5;
}

.youtube:hover p{
  opacity: 1;
}

.youtube p{
  position: absolute;
  top: 3%;
  left: 95.5%;
  transform: translate(-50%,-50%);
  opacity: 0;
}
/*icons end*/

/* 1 ends */

/* Dropdown factor-2 */
.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-family: helvetica; 
  font-weight:bold;
  background-color: rgb(255,255,255)
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* 2 ends */

/* Slideshow properties */
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  position: relative;
  margin: auto;
  z-index: -1
}

.text {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  bottom: 188px;
  width: 100%;
  left: 10%;
  text-align: left;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* 3 ends*/

.info-box {
  display: flex;
  background-color: rgb(244,244,244);
  flex-wrap: wrap;
}

.info-box img {
  height: auto;
}

.insta-box img {
  height: auto;
}

.context-dark, .bg-gray-dark, .bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
  color: #ffffff;
}
.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 23px;
  font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
  content: "\f14f";
  font: 400 21px/1 "Material Design Icons";
  color: #4d6de6;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  transition: .22s ease;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.button2 {background-color: #008CBA;} /* Blue */
